div::before{
    width: 3px;
    height: 14px;
    margin-left: 40px;
    margin-right: 6px;
    background: rgb(228, 208, 31);
    margin-top: 20px;
    display: inline-block;
    border-right: 16px solid rgb(248, 248, 247);
    content: "";
}

p{
    width: 180px;
    height: 20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(248, 248, 247);
    display: inline-block;
}

div.backgound{
    width: 500px;
    height: 120px;
    display: inline-block;
    background: rgb(5, 34, 202);
}

div::after{
    height: 50px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -2px;
    color: rgb(248, 248, 247);    
    content: "- Porto Alegre/RS";
}